
/* .navbar {
    color: blueviolet;
    padding: 30px;
} */
body {
    background-color: whitesmoke;
    font: "Helvetica";
}

.navbar-brand{
    font-size: 50px;
    padding: 5px;
}

.navbar-nav a{
    padding: 10px;
    margin: 5px 5px;
    cursor: pointer;
  }

.box-single {
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    margin: 20px;
}

.box-left {
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
}

.box-right {
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
}


h1 {
    color: navy;
    text-align: center;
    padding: 10px;
    margin-block-end: 25px; 
}

h5{
    color: darkgrey;
    text-align: center;
    margin-block-end: 25px;
}

.box-left img{
    float: left;
}

.box-right img{
    display: inline-block;
    padding: 5px;
}

.box-single img{
    display: inline-block;    
}




/* .box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  
  .red {
    background: indianred;
  } */