
/* .navbar {
    color: blueviolet;
    padding: 30px;
} */
body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans';

}

.navbar-brand{
    font-size: 50px;
    padding: 5px;
}

.navbar-nav a{
    padding: 10px;
    margin: 5px 5px;
    cursor: pointer;
  }

.box-single {
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    margin: 20px 80px;
}

.box-left {
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
}

.box-right {
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px;
}

.box-left img{
    float: left;
}

.box-right img{
    display: inline-block;
    padding: 5px;
}

.box-single img{
    float: left;
}


h1 {
    color: navy;
    text-align: center;
    padding: 10px;
    margin-block-end: 25px; 
}

h5{
    color: darkgrey;
    text-align: center;
    margin-block-end: 50px;
}

p {
    font-size: 16px;
    padding: 10px;
}

th, td {
    border-bottom: 10px solid #ddd;
  }

/* 
@media (min-width: 1200px) {
    .row [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
} */
